body {
  background: #eee;
  color: #444;
  max-width: 960px;
  margin: 100px auto;
  padding: 10px;
}

nav {
  display: flex;
  justify-content: space-between;
}

nav h1 {
  margin: 0;
}

nav a {
  color: white;
  text-decoration: none;
  background: #36cca2;
  padding: 10px;
  border-radius: 10px;
}

form {
  max-width: 500px;
}

input,
textarea {
  display: block;
  margin: 16px 0;
  padding: 6px 10px;
  width: 100%;
  border: 1px solid #ddd;
}

textarea {
  min-height: 200px;
}

.post {
  padding: 16px;
  background: white;
  margin: 20px 0;
  border-radius: 10px;
}

.post h2 {
  margin: 0;
}

.post p {
  margin-top: 0;
}

.post a {
  color: #36cca2;
  text-decoration: none;
  display: block;
}

.search {
  display: flex;
}

.search button {
  display: inline;
  margin-left: 20px;
}
